body {
  /* background-color: #282c34; */
  background-color: #121212;
  /* color: #dddddd; */
  color: #99aab5;
}

.epiccolor {
  background-color: #181a1b;
}

.navbar-light {
  /* background-color: #ed4c5c; #bfa575*/
  background-color: #23272a;
}
